* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

body {
  height: 100vh;
  background-image: linear-gradient(45deg, #2f64c7, #1b8daa, #6495ed, #535caf, #ccc, #ffffff);
  background-size: 1000% 1000%;
  -webkit-animation: gradient 15s ease-in-out infinite;
          animation: gradient 15s ease-in-out infinite;
}

.wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: linear-gradient(45deg, #2f64c7, #1b8daa, #6495ed, #535caf, #ccc, #ffffff);
  background-size: 1000% 1000%;
  -webkit-animation: gradient 15s ease-in-out infinite;
          animation: gradient 15s ease-in-out infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.myNavBar {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.myNavBar > div {
  margin-bottom: 50px;
}

ul li {
  display: inline-block;
}

ul li a {
  font-size: 1.1rem;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  padding: 5px 10px;
  color: white;
  text-shadow: 0px 1px 1px #197dc0;
  font-weight: 500;
}

.innerWrapper {
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.innerWrapper .imgClass .innerImgClass > img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.innerWrapper .myNameClass .innerMyNameClass,
.innerWrapper .imgClass .innerImgClass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.innerWrapper .myNameClass .innerMyNameClass {
  padding: 20px 0 50px 0;
}

.innerWrapper .myNameClass .innerMyNameClass .myName {
  padding-bottom: 20px;
}

.innerWrapper .myNameClass .innerMyNameClass .myName {
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: 2px 0px 0px black;
}

.innerWrapper .myNameClass .innerMyNameClass .myJob .typing {
  font-family: 'Sofia', sans-serif;
  font-weight: 400;
  text-shadow: 2px 0px 0px black;
}

@media only screen and (max-height: 550px) {
  .innerWrapper .imgClass .innerImgClass > img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
  }
  .myNavBar > div {
    margin-bottom: 30px;
  }
}

@media only screen and (max-height: 500px) {
  .innerWrapper .imgClass .innerImgClass > img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
}

@media only screen and (max-height: 450px) {
  .innerWrapper .imgClass .innerImgClass > img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
}

@media only screen and (max-height: 380px) {
  .innerWrapper .imgClass .innerImgClass > img {
    display: none;
  }
}

@media only screen and (max-width: 599.9px) {
  .myNavBar > div > div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .myNavBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .myNavBar > div > div ul li {
    padding: 20px;
  }
}
